@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Zeyada&display=swap');

header {
    background-color: #2E2E61;
}

.header-fonts {
    color: #ED7D3A;
    font-family: 'Zeyada', cursive;
    font-weight: bold;
}

.header-fonts:hover {
    color: #ED7D3A;
}

.nav-link.header-fonts.active,
.btn-custom {
    background-color: #ED7D3A;
    color: #1B1B3A;
}

.nav-link.header-fonts.active:hover,
.btn-custom:hover {
    background-color: #ED7D3A;
    color: #1B1B3A;
}

body {
    background-color: #1B1B3A;
}

.text-color {
    color: #9ED0E6;
    font-family: 'Mynerve', cursive;
    font-weight: bold;
}



.carousel-custom {
    height: 45vw;
    position: relative;
}

.carousel-item {
    height: 100%;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.nav-underline-custom,
.nav-underline-custom:hover {
    color: #ED7D3A;
    font-family: 'Zeyada', cursive;
}

.nav-link.active.nav-underline-custom {
    color: #ED7D3A;
    font-family: 'Zeyada', cursive;
    font-weight: bold;
}

.card-custom {
    background-color: #2E2E61;
}

.card-img-custom {
    height: 300px;
    object-fit: contain;
}


.card-btn {
    background-color:#2E2E61;
    color: #ED7D3A;
    border: solid #2E2E61;
    transition: 0.5s;
    text-decoration: none;
}

.card-btn:hover {
    cursor: pointer;
    color: #9ED0E6;
    background-color: #1B1B3A;
}

.li-socials {
    list-style: none;
}

footer a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .carousel-custom {
        height: 50vh;
    }
}